body {

    background-color: #4d6e8a;

}

p {

    font-family: Helvetica, Arial, sans-serif;
    color: #c1d8de;
}

h1 {

    font-family: Helvetica, Arial, sans-serif;
    color: white;
    font-size: 40px;

}

h2 {

    font-family: Helvetica, Arial, sans-serif;
    color: #7c9aa1;
    font size 20px;

}
