body{
    background-color: black;
    margin: 0px;
}

h1{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 29px;
    top: 0px;
    color: rgb(255, 82, 206);
}

.phone{
    position: relative;
    border: 1px dashed aqua;
    width: 30%;
    height: 710px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.container {
        position: relative;
        width: 100%;
        height: 100%;
        top: 0px;
        display: block;
        margin: auto;
        align-content: center;
}

.row{
    position: relative;
    background-color: black;
    width: 100%;
    height: 100px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.app{
    background-color: aqua;
    border: 1px dotted rgb(255, 82, 206);

    width: 80px;
    height: 80px;
    margin: auto;
    transition: 1s;
    background-position: center;
    background-size: 300%;
    border-radius: 25%;
}

.app:hover {
    transform: scale(1.2);
}


.jm {
    background-image: url(../images/jmw.png)
}

.tp {
    background-image: url(../images/tp.png)
}

.kp {
    background-image: url(../images/kp.png)
}

.mb {
    background-image: url(../images/mb.png)
}


.ck {
    background-image: url(../images/ck.png)
}

.rl {
    background-image: url(../images/rl.jpg)
}

.dr {
    background-image: url(../images/dr.png)
}

.kh {
    background-image: url(../images/kh.png)
}


.c {
    background-image: url(../images/c.jpg)
}

.pd {
    background-image: url(../images/pd.png)
}

.mp {
    background-image: url(../images/mp.jpg)
}

.hs {
    background-image: url(../images/hs.jpg)
}


.cu {
    background-image: url(../images/cu.jpg)
}

.tw {
    background-image: url(../images/tw.jpg)
}

.jo {
    background-image: url(../images/jo.png)
}

.nb {
    background-image: url(../images/nb.png)
}


.kd {
    background-image: url(../images/kd.png)
}

.yk {
    background-image: url(../images/yk.png)
}

.cdz {
    background-image: url(../images/cdz.png)
}

.js {
    background-image: url(../images/js.png)
}


.kj {
    background-image: url(../images/kj.png)
}

.ab {
    background-image: url(../images/ab.png)
}

.hj {
    background-image: url(../images/hj.png)
}

.mm {
    background-image: url(../images/mm.png)
}


.av {
    background-image: url(../images/av.png)
}

.yh {
    background-image: url(../images/yh.png)
}

.md {
    background-image: url(../images/md.png)
}

.sm {
    background-image: url(../images/sm.png)
}